@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  background: #d1d1d1;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #606c76;
}

textarea {
  resize: none;
  line-height: 1;
}

#app {
  height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding: 40px 8%;
  display: flex;
}

.flexible {
  padding: 4px;
  width: 30%;
}
.flexible textarea.user-input {
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 2px;
}
.flexible label {
  font-size: 14px;
  margin: 0.5em 0 0 0;
}
.flexible select,
.flexible input:not([type]) {
  height: inherit;
  width: 95%;
  margin: 0;
}
.flexible .ui {
  height: 70%;
  overflow-y: auto;
}

.result-container {
  height: 100%;
  width: 70%;
}
.result-container .result {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  height: 90%;
  margin-bottom: 4px;
  background: #fbfbfb;
  overflow: auto;
  padding: 8px;
  white-space: pre-wrap;
}

button {
  width: 100%;
  position: relative;
  margin: 0;
}
button.done::after {
  position: absolute;
  content: "\2714";
  color: yellow;
  font-weight: bold;
  right: 2rem;
}
