<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="HINAGATA">
    <meta property="og:site_name" content="HINAGATA">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://awtnb.github.io/hinagata/">
    <meta property="og:description" content="定型文をもっと再利用しやすくするために。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20x%3D%2250%25%22%20y%3D%2250%25%22%20style%3D%22dominant-baseline%3Acentral%3Btext-anchor%3Amiddle%3Bfont-size%3A90px%3B%22%3E%26%23x1F9E9%3B%3C/text%3E%3C/svg%3E">
    <title>HINAGATA</title>
    <link rel="stylesheet" type="text/css" href="./almond.lite.css">
    <link rel="stylesheet" type="text/css" href="./additional.css">
</head>

<body>
    <div id="app">
        <div class="text-container">
            <textarea v-model="content" v-focus></textarea>
        </div>
        <div class="flexible">
            <div class="ui">
                <ask-field
                    :ask="question"
                    v-for="(question, idx) in questions" :key="idx"
                    v-on:update-value="update">
                </ask-field>
                <hr>
                <button @click="copy" :class="{done:copied}">COPY</button>
            </div>
        </div>
        <div class="text-container">
            <div class="result">{{replaced}}</div>
        </div>
    </div>
    <div class="repo"><a href="https://github.com/AWtnb/hinagata" target="_blank">github</a></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script>

        const parseField = (s) => {
            const inner = s.replace(/[{}]/g, "").replace(/\uff1b/g, ";").trim();
            if (inner.indexOf("|") != -1) {
                const elems = inner.split("|");
                return {
                    rawField: s,
                    prompt: elems[0],
                    options: elems[1].split(";")
                };
            }
            return {
                rawField: s,
                prompt: inner,
                options: []
            };
        }

        const askChoice = {
            props: ["ask"],
            emits:["updateValue"],
            template: `
            <select v-on:input="update">
                <option value="">---</option>
                <option v-for="(opt, idx) in ask.options">{{opt}}</option>
            </select>
            `,
            methods: {
                update: function(e) {
                    this.$emit("updateValue", {
                        before: this.ask.rawField,
                        after: e.target.value
                    })
                }
            }
        }
        const askText = {
            props: ["ask"],
            emits:["updateValue"],
            template: `
            <input tyle="text" v-on:input="update">
            `,
            methods: {
                update: function(e) {
                    this.$emit("updateValue", {
                        before: this.ask.rawField,
                        after: e.target.value
                    })
                }
            }
        }

        const askField = {
            props: ["ask"],
            emits:["updateValue"],
            components: {
                "ask-choice": askChoice,
                "ask-text": askText,
            },
            template: `
            <div>
            <label>{{ask.prompt}}</label>
            <div v-if="ask.options.length">
                <ask-choice v-on:update-value="update" :ask="ask"></ask-choice>
            </div>
            <div v-else>
                <ask-text v-on:update-value="update" :ask="ask"></ask-text>
            </div>
            </div>
            `,
            methods: {
                update: function(e) {
                    this.$emit("updateValue", e)
                }
            }
        }

        const vm = Vue.createApp({
            data: function () {
                return {
                    content: [
                        "どんぶらこと{{フルーツ}}が流れてきました。",
                        "{{人|おじいさん;おばあさん;お姉さん;お兄さん}}は{{フルーツ}}を家に持ち帰りました。",
                        "{{フルーツ}}からは子どもが生まれ、その子は{{主人公名}}と名づけられました。"
                    ].join("\n"),
                    replaceMap: new Map(),
                    copied: false,
                }
            },
            computed: {
                questions: function() {
                    const found = this.content.match(/{{.+?}}/g);
                    if (found) {
                        const noDup = Array.from(new Set(found));
                        return noDup.map(f => parseField(f));
                    }
                    return [];
                },
                replaced: function() {
                    return Array.from(this.replaceMap).reduce((replaced, pair) => {
                        const before = pair[0];
                        const after = (pair[1].length > 0)? pair[1] : before;
                        return replaced.replaceAll(before, after);
                    }, this.content);
                },
            },
            components: {
                "ask-field": askField
            },
            methods: {
                update: function(e) {
                    this.replaceMap.set(e.before, e.after);
                    this.copied = false;
                },
                copy: function() {
                    navigator.clipboard.writeText(this.replaced.replace(/&amp;/g, "&"));
                    this.copied = true;
                }
            },
            watch: {
                content: function() {
                    this.copied = false;
                }
            },
            directives: {
                focus: {
                    mounted: function (el) {
                        el.select()
                    }
                }
            }
        })
        .mount("#app");
    </script>
</body>

</html>